/* .background-img-game {
  width: 300px;
} */


/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: #080f28; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color:#007aff ; /* Color del "pulgar" de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #007aff; /* Color del "pulgar" al pasar el cursor por encima */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  background-color: #080f28;
  color: white;
}

header {
  background-color: #1b2838;
  position: relative;
}

.game-info__container {
  width: 90%;
  margin: 0 auto;
}

.cont_header {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-info {
  margin: 20px;
}

.trailer-container {
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #131313;
}

.game-info__image {
  background-color: #131313;
  border-radius: 10px 10px 0 0;
}

.background-img-game {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}
.game-info__text {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  margin-bottom: 40px;
  line-height: 2em;
  font-size: 1.2em;
}

p {
  text-align: justify;
}

h2 {
  display: flex;
  justify-content: center;
  color: gold;
}

h3 {
  display: flex;
  justify-content: center;
}

.back-container {
  margin: 15px 0 0 15px;
}

.titulo-info-game {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 3em;
  color: gold;
}

.back-btn {
  padding: 10px 30px;
  color: #2a475e;
  font-weight: bold;
  width: 15em;
  background: gold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.ir-arriba {
  display: none;
  font-size: 2.5em;
  padding: 30px;
  background: gold;
  color: #2a475e;
  cursor: pointer;
  border-radius: 25px 25px 0 0;
  position: fixed;
  bottom: 0;
  right: 10px;
  opacity: 0.25;
}

.ir-arriba:hover {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.swiffy-slider {
  padding: 0 100px;
  margin-bottom: 100px;
}

.slider-container {
  border-radius: 20px;
}

button.slider-nav.slider-nav-next {
  right: 10%;
}

button.slider-nav {
  left: 10%;
}

div.sliders-indicator {
  bottom: -10px;
}

.stores-container {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  gap: 69px;
  margin: auto;
  margin-bottom: 150px;
  margin-top: 0;
  /*background-color: brown;*/
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
}

iframe {
  width: 100%;
}

.stores {
  /*
  transition: all 0.70s;
  background-color: white;
  text-decoration: none;
  color:#080f28;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  /*width: 18%;
display: flex;
align-items: center;
 gap: 30px;
  text-align: center;*/
  transition: all 0.7s;
  background-color: white;
  text-decoration: none;
  color: #080f28;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 8px;
  /* font-size: 18px; */
  /* width: 18%; */
  display: flex;
  width: 15em;
  align-items: center;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.stores:hover {
  transition: all 0.7s;
  background-color: #42b883;
  color: white;
}

.titulo_tiendas {
  /* background-color: brown;*/
  font-size: 25px;
  color: gold;
  text-align: center;
  margin-bottom: 50px;
}

.botones-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .stores {
    padding: 5px;
    width: 100%;
  }
}

@media (max-width: 810px) {
  .titulo-info-game {
    font-size: 2em;
    text-align: center;
  }
  .game-info__text {
    font-size: 1.5em;
  }
  .stores-container {
    width: 90%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .stores {
    padding: 8px 0;
  }
  div.swiffy-slider {
    padding: 0 40px;
    margin-bottom: 100px;
  }
  
  .slider-container {
    border-radius: 10px;
  }
  
  .ir-arriba{
    text-align: center;
    right: 10%;
    font-size: 1.5em;
    padding: 7.5px 100px;
    left: 10%;
  }
}

@media (max-width: 612px) {
  .game-info__container {
    width: 100%;
  }

  .stores-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .stores {
    padding: 10px 0;
    justify-content: center;
  }
  div.swiffy-slider {
    padding: 0 20px;
    margin-bottom: 100px;
  }
  
  .slider-container {
    border-radius: 5px;
  }
  button.slider-nav.slider-nav-next {
    right: 7%;
  }
  
  button.slider-nav {
    left: 7%;
  }
  button.slider-nav::after, button.slider-nav::before {
    width: 1rem;
    height: 2rem;
  }
}

@media (max-width: 350px) {
  .botones-container {
    flex-direction: column;
    align-items: center;
  }
  div.swiffy-slider {
    padding: 0 10px;
    margin-bottom: 100px;
  }
  button.slider-nav.slider-nav-next {
    right: 1%;
  }
  
  button.slider-nav {
    left: 1%;
  }
}
