/* .background-img-game {
  width: 300px;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  background-color: #080f28;
  color: white;
}

header {
  background-color: #1b2838;
  position: relative;
}

.cont_header {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-info {
  margin: 20px;
}

.trailer-container {
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #131313;
}

.game-info__image {
  background-color: #131313;
  border-radius: 10px 10px 0 0;
}

.background-img-game {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
}
.game-info__text {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: #131313;
  margin-bottom: 40px;
}

p {
  text-align: justify;
}

h2 {
  display: flex;
  justify-content: center;
  color: gold;
}

h3 {
  display: flex;
  justify-content: center;
}

.back-container {
  margin: 15px 0 0 15px;
}

.back-btn {
  padding: 10px 30px;
  color: #2a475e;
  font-weight: bold;
  background: gold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.ir-arriba {
  display: none;
  font-size: 2.5em;
  padding: 30px;
  background: gold;
  color: #2a475e;
  cursor: pointer;
  border-radius: 25px 25px 0 0;
  position: fixed;
  bottom: 0;
  right: 10px;
  opacity: 0.25;
}

.ir-arriba:hover {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.swiffy-slider {
  padding: 0 100px;
  margin-bottom: 100px;
}

.slider-container {
  border-radius: 20px;
}

button.slider-nav.slider-nav-next {
  right: 8%;
}

button.slider-nav {
  left: 8%;
}

div.sliders-indicator {
  bottom: -10px;
}

.stores-container {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  gap: 69px;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 0;
  /*background-color: brown;*/
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
}

.stores {
  /*
  transition: all 0.70s;
  background-color: white;
  text-decoration: none;
  color:#080f28;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  /*width: 18%;
display: flex;
align-items: center;
 gap: 30px;
  text-align: center;*/
  transition: all 0.7s;
  background-color: white;
  text-decoration: none;
  color: #080f28;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 8px;
  /* font-size: 18px; */
  /* width: 18%; */
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.stores:hover {
  transition: all 0.7s;
  background-color: #42b883;
  color: white;
}

.titulo_tiendas {
  /* background-color: brown;*/
  font-size: 25px;
  margin-bottom: 50px;
}
.titulo_tiendas h2 {
  color: white;
}

.botones-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .stores {
    padding: 5px;
  }
}

@media (max-width: 810px) {
  .stores-container {
    width: 90%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .stores {
    padding: 8px 0;
  }
}

@media (max-width: 612px) {
  .stores-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .stores {
    padding: 10px 0;
    justify-content: center;
  }
}
